 body {
	background-image: url("../images/Kat.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

 a {
  color: rgb(0, 0, 0);
 }

 a:visited {
  color: grey;
 }

 a:hover {
  color: rgb(0, 255, 0)
 }

 .sidebar {
  padding: 0;
  width: 200px;
  background-color: cyan;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  clear: both;
}

 .sidebar ul li a {
	font-size: 30px;
	display: inline-block;
}

 .sidebar ul {
	margin-top: 100px;
 }

 .buttonList {
	list-style-type: none;
	margin: 0;
	padding: 0;
 }

div.site {
	margin-left: 200px;
	color: green;
	text-align: center;
	font-size: 40px;
	font-family: "Comic Sans MS";
}
